body {
    margin: 0;
}

div {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}

h1 {
    background-color: pink;
    width: 200px;
    padding-left: 25px;
    padding-top: 25px;
    margin: 0;
}

#one {
    background-color: #fdfcdc;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    /* box-sizing takes into account the width of the border and adjusts the size of the element to stay at whatever width and/or height is defined */
    border-radius: 10px 100px / 120px;
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #fed9b7;
    border-width: 6px;
    border-color: gray;
    border-style: ridge groove none dotted;
    border-left-color: aquamarine;
    border-left-width: 9px;
    border-top-left-radius: 10%;
    margin: 200px;
}

#three {
    background-color: #f07167;
    /* border shorthand: */
    /* border: width style color */
    border: 12px solid #00afb9;
    border-left-style: dotted;
    /* border-radius allows for rounded edges */
    border-radius: 50%;
}

#padme {
    /* padding order goes: */
    /* vertical | horizontal */
    /* padding: 10px 5px; */
    /* top | horizontal | bottom */
    /* padding: 5px 10px 15px; */
    /* top | right | bottom | left */
    /* padding: 0 5px 10px 15px; */
    /* below applies to all 4 sides */
    padding: 10px;
}