h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #F00F14 overline dotted;
}

h2 {
    letter-spacing: 2mm;
    font-size: 38px;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
    font-family: Geneva, Verdana, sans-serif;
}