body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#container {
    background-color: #1d3557;
    width: 90%;
    /* height: 750px; */
    margin: 0 auto;
    border: 5px solid #1d3557;


    display: flex;
    /* flex-direction: row-reverse; */
    /* above changes flex direction to right to left */

    /* flex-direction: column; */
    /* above changes direction to top to bottom */

    /* justify-content: flex-end; */
    /* above moves content to the left of the container */
    /* b/c main axis goes right to left */

    /* justify-content: center; */
    /* above centers content along main axis */

    /* justify-content: space-between; */
    /* above takes all extra space and distrubtes between */
    /* all elements but not on outside edges*/

    /* space-around gives each element the same */
    /* amount of space around it */


    /* flex-wrap: wrap; */
    /* above wraps elements in container */
    /* along main axis */
    /* wrap-reverse reverses the direction */
    /* of the cross axis */


    /* align-items: flex-end; */
    /* above aligns elements along bottom of container */
    /* b/c the cross axis starts at top and ends at bottom */


    /* align-items: baseline; */
    /* above aligns elements so that bottom */
    /* of each letter within the element will */
    /* be in line */

    flex-direction: row;
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-content: center; */
}

#container div {
   width: 200px;
   height: 200px; 
   font-size: 4em;
   text-align: center;
   flex-basis: 400px;
   /* flex-basis depends on flex-direction */
   /* so, the main-axis direction */
   /* if main-axis is top to bottom, then */
   /* flex-basis will change the height */
}

/* div:nth-of-type(2n) {
    align-self: center;
} */

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
    /* min-width: 400px; */
}

div:nth-of-type(5) {
    flex-grow: 2;
    /* use 2x as much available space */
    /* max-width: 250px; */
    flex-shrink: 0;
}


main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #8ecae6;
    flex: 1 3 200px;
}

main .maincontent {
    background-color: #ffb703;
    flex: 2 1 800px;
}