<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>
                Your random number is: <%=rand%>
                    <% if(rand % 2===0) { %>
                        <h2>Even number!</h2>
                        <% } else {%>
                            <h2>Odd number!</h2>
                            <% } %>
                                <h3>That is an
                                    <%= rand%2===0 ? 'EVEN' : 'ODD' %> number!
                                </h3>
            </h1>
    </body>

    </html>